

body{
    display: flex;

    gap: 30px;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(241, 245, 244); */
    background: linear-gradient(to top right, #f9d5f2, #d6fef4);

    height: 100vh;
    color: rgb(58, 58, 59);

    font-family: monospace;

}

h1{
    color: rgb(24, 84, 84);
    font-size: 40px;
}

.goBack{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding: 20px;
    /* border-right: 5px solid rgb(24, 84, 84); */
}

.bigWords{
    text-align: right;
    font-size: 80px;
}

.loginDiv{
    padding: 70px;
    background-color: rgb(180, 237, 237);

    border: 2px solid rgb(49, 184, 194);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    border-radius: 30px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.buttonDiv{
    display: flex;
    gap: 20px;
}

#loginUserBtn{
    padding: 10px 20px;
    cursor: pointer;

    border: 2px solid rgb(29, 102, 180);
    color: rgb(29, 102, 180);
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-family: monospace;

    background-color: rgb(233, 241, 249);
}

#loginUserBtn:hover{
    background-color: rgb(29, 102, 180);
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
}

#goHomeBtn{
    padding: 10px 20px;
    cursor: pointer;

    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-family: monospace;

    background-color: rgb(248, 237, 231);
    color: rgb(249, 118, 52);
    border: 2px solid rgb(249, 118, 52);
}

#goHomeBtn:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
    background-color: rgb(249, 118, 52);
    color: white;
}

input{
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: monospace;

}

input:focus{
    outline: 2px solid rgb(29, 102, 180);
}