#navbar{
    /* background-color: black; */
    background: linear-gradient(to right, #f583de, #47f7cb);

    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 0 0 20px;
}

.linkDiv{
    display: flex;
    gap: 10px;
}

a{
    text-decoration: none;
    color: white;
    font-family: monospace;
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
    transition: all 0.3s ease;
}

a:hover{
    background-color: rgb(241, 245, 244);
    color: rgb(24, 84, 84);
}

button{
    border: none;    
    transition: all 0.3s ease;
    background-color: rgb(243, 52, 100);
    color: white;
    padding: 0 25px;
    font-family: monospace;

}

button:hover{
    background-color: rgb(246, 47, 166);
    padding: 0 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}