body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 245, 244);
    color: rgb(66, 67, 67);
}

h1{
    margin: 40px 0 0 40px;
    color: rgb(24, 84, 84);
}

.card{
    background-color: rgb(180, 237, 237);
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    color: rgb(38, 114, 123);
    border: 2px solid rgb(49, 184, 194);
}
.card:hover{
    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    background-color: rgb(209, 246, 246);
}

#container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px;
}